@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    z-index : 999;
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5 ease;

    .brand {
        color : #fff;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
    }

    .menu-btn {
        display: none;
    }

    .nav {
        position: relative;
    }

    .nav-items a{
        position: relative;
        color : #fff;
        font-size: 1em;
        font-weight: 500;
        text-decoration: none;
        margin-left: 30px;
        transition: 0.3 ease;
    }

    .nav-items a::before{
        content: '';
        position: absolute;
        background: #fff;
        width: 0;
        height: 3px;
        bottom: 0;
        left: 0;
        transition: 0.3s ease;
    }

    .nav-items a:hover::before {
        width: 100%;
    }


}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696e9;

    .content {
        z-index: 888;
        color : #fff;
        width: 70%;
        margin-top: 50px;
        display: none;
    }

    .content.active {
        display: block;
    }

    .content h1 {
        font-size: 4em;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing : 5px;
        line-height: 75px;
        margin-bottom: 40px;
    }

    .content h1 span {
        font-size: 1.2em;
        font-weight: 600;
    }

    .content p {
        margin-bottom: 65px;
    }

    .content .read-more {
        background: #fff;
        padding: 15px 35px;
        color : #1680ac;
        font-size: 1.1em;
        font-weight: 500;
        text-decoration: none;
        border-radius: 5px;
    }

    .media-icons {
        z-index: 888;
        position: absolute;
        right: 30px;
        display: flex;
        flex-direction: column;
        transition: 0.3 ease;
    }

    .media-icons a {
        color : #fff;
        font-size: 1.6em;
    }

    .media-icons a:not(:last-child) {
        margin-bottom: 20px;
    }

    .media-icons a:hover {
        transform: scale(1.5);
    }

    img {
        z-index: 000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider-nav {
        z-index: 888;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(80px);
        margin-bottom: 12px;
    }

    .slider-nav .nav-btn.active {
        background: #2696e9;
    }

    .nav-btn {
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(255,255,255,0.5);
        transition: 0.3s ease;
    }

    .nav-btn:not(:last-child){
        margin-right: 20px;
    }

    .nav-btn:hover {
        transform: scale(1.5);
    }

    .img-slide {
        position: absolute;
        width: 100%;
        clip-path: circle(0% at 0 50%);
    }

    .img-slide.active {
        clip-path: circle(150% at 0 50%);
        transition: all 0.8s ease;
    }
}


@media screen and (max-width:1024px) {
    header {
        padding: 12px 20px;

        .nav {
            display: none;
        }

        .nav.active {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(1, 1, 1, 0.5);
        }

        .nav-items a{
            color : #222;
            font-size: 1.2em;
            margin: 20px;
        }

        .nav-items a::before {
            background: #222;
            height: 5px;
        }

        .nav.active .nav-items {
            background: #fff;
            width: 600px;
            min-width: 600px;
            margin: 20px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0 5px 25px rgba(1,1,1,0.2);
        }
    }

    section {
        padding: 100px 20px;
    }

    .media-icons {
        right: 15px;
    }

    .nav {
        display: flex;
    }

    header .menu-btn {
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-icon {
        font-size: 1.8em;
        color : #fff;
        transition: 0.3 ease;
    }

    .menu-btn .close-icon {
        font-size: 1.8em;
        color : #fff;
        display: none;
        transition: 0.3 ease;
    }

    .menu-btn.active {
        z-index: 999;
        transition: 0.3 ease;
    }

}

@media screen and (max-width:768px){
    .home .content h1{
        font-size: 2em;
    }

    .home .content h1 span {
        font-size: 1em;
    }
}